<a href="https://colab.research.google.com/github/UdayGhorapade/Machine-learning/blob/Machine-learning/Decision_tree_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Decision tree classification

#importing the libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#importing the dataset
data=pd.read_csv('/content/logistic regression.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [7]:
#initializing the dataset
x=data.drop(['Purchased'],axis=1)
y=data['Purchased'].values.reshape(-1,1)

In [10]:
#splitting the data into training and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [23]:
#Training the model using decision tree algorithm on training dataset
from sklearn.tree import DecisionTreeClassifier
Classifier=DecisionTreeClassifier()
Classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [24]:
#testing the model
y_pred=Classifier.predict(x_test)

In [25]:
#performance checking 
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[ 0 52]
 [ 0 28]]

0.35

In [26]:
#predicting a new result
output=Classifier.predict([[87,60000]])
output

array([1])