<a href="https://colab.research.google.com/github/UdayGhorapade/Machine-learning/blob/Machine-learning/KNN_practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#sales prediction model(KNN method)

In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#importing the dataset

In [3]:
data=pd.read_csv("/content/logistic regression.csv")

In [4]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

#initiating the variable

In [10]:
x=data.drop(['Purchased'],axis=1)
y=data['Purchased'].values.reshape(-1,1)

#splitting the dataset into training and testing dataset

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#feature scaling

In [40]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)
#X_test

#training our model using KNN

In [41]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

#testing our model

In [42]:
y_pred=classifier.predict(x_test)

#making the confusion matrix

In [43]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[ 0 52]
 [ 0 28]]

0.35

In [44]:
#Prediction for new values
output= classifier.predict([[30, 87000]])
output

array([1])