<a href="https://colab.research.google.com/github/UdayGhorapade/Machine-learning/blob/Machine-learning/multiple_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# multiple Linear Regression

In [ ]:
#Importing the libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

#importing the dataset

In [ ]:
data=pd.read_csv('/content/Advertising_data.csv')

In [ ]:
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   2210
1   44.5   39.3       45.1   1040
2   17.2   45.9       69.3    930
3  151.5   41.3       58.5   1850
4  180.8   10.8       58.4   1290

#multiple Linear Regression

# initiating the variable

In [ ]:
x=data.drop(['sales'],axis=1)
y=data['sales'].values.reshape(-1,1)

#splitting the data into Training & testing dataset

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#fitting Linear Regression to our training set

In [ ]:
from sklearn.linear_model import LinearRegression
multiple_reg=LinearRegression()
multiple_reg.fit(x_train,y_train)

LinearRegression()

#Testing

In [ ]:
y_pred=multiple_reg.predict(x_test)

#prediction for new values

In [37]:
3# taking the input fro the user
print('enter the amout you invest on:')
tv=float(input('tv:'))
radio=float(input('radio:'))
newspaper=float(input('newspaper:'))


#predictig the sales with respect to the inputs 
output=multiple_reg.predict([[tv,radio,newspaper]])
print('you will get Rs{:.3f} sales by advertising Rs {} on TV,Rs {} on radio and Rs {} on newspaper.'\
      .format(output[0][0] if output else "not predictable",tv,radio,newspaper))

enter the amout you invest on:
tv:100
radio:100
newspaper:100
you will get Rs2664.764 sales by advertising Rs 100.0 on TV,Rs 100.0 on radio and Rs 100.0 on newspaper.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"