<a href="https://colab.research.google.com/github/UdayGhorapade/Machine-learning/blob/Machine-learning/XGboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [23]:
#reading the data
data=pd.read_csv('/content/logistic regression.csv')
x=data.iloc[:,:-1].values
y=data.iloc[:, -1].values
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [28]:
#training & testing the data
from xgboost import XGBClassifier
classifier=XGBClassifier()
classifier.fit(x_train,y_train)

XGBClassifier()

In [29]:
y_pred=classifier.predict(x_test)

In [31]:
from sklearn.metrics import confusion_matrix,accuracy_score 
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[56  2]
 [ 2 20]]

0.95